@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders:opsz,wght@10..72,100..900&family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nabla&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 70px;
  padding-right: 70px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.orange_box {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff9f34;
  color: white;
  font-size: 18px;
  border-radius: 100%;
  font-weight: 700;
  cursor: pointer;
}

.lukan {
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.pages {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.sign {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.login {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.signup {
  width: 118px;
  height: 38px;
  border: 1.2px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.first_div {
  position: relative;
  width: 100%;
  height: 100vh;
  color: white;
  overflow: hidden;
  height: 744px;
}

.background_video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.power_div {
  max-width: 670px;
  width: 100%;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 100px;
}

.power_h1 {
  font-size: 52px;
  line-height: 72px;
  font-weight: 700;
  margin-bottom: 20px;
}

.power_p {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 30px;
}

.btn {
  background-color: #ff9f34;
  color: white;
  width: 165px;
  height: 56px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

.wheat_div {
  background-color: #fff8f1;
  height: 280px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.wheat_h1 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 700;
}

.wheat_p {
  max-width: 514px;
  width: 100%;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

.brown_div {
  max-width: 80%;
  width: 100%;
  height: 540px;
  margin-top: 300px;
  background-color: #402613;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  position: relative;
}

.brown_img {
  max-width: 600px;
  width: 100%;
  height: 500px;
  position: absolute;
  left: -180px;
  top: -150px;
}

.brown_h1 {
  max-width: 514px;
  width: 100%;
  margin-right: 150px;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  color: white;
}

.brown_p {
  max-width: 514px;
  width: 100%;
  margin-right: 150px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: white;
}

.white_div {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.white_header {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  max-width: 536px;
  width: 100%;
  color: #1e1000;
}

.white_h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.5px;
  color: #121212;
}

.white_p {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400px;
  color: #1e1000b5;
  max-width: 356px;
  width: 100%;
}

.column_h1 {
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  color: #1e1000;
}

.column_p {
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  color: #1e1000;
  opacity: 0.7;
  display: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.column {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  padding-left: 15px;
}

.white_left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.box_div {
  width: 450px;
  height: 80px;
  border: 1px solid rgba(211, 211, 211, 0.5);
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 15px;
  position: relative;
  cursor: pointer;
}

.orange_div {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff9f3414;
}

#firstArrow {
  position: absolute;
  top: 30px;
  left: 415px;
}

#secondArrow {
  position: absolute;
  top: 30px;
  left: 415px;
}

#thirdArrow {
  position: absolute;
  top: 30px;
  left: 415px;
}

.white_img {
  width: 698px;
  height: 444px;
}

.case_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
  margin-top: 150px;
}

.case_h1 {
  max-width: 445px;
  width: 100%;
  font-size: 40px;
  line-height: 60px;
  color: #1e1000;
  font-weight: 700;
}

.case_p {
  max-width: 514px;
  width: 100%;
  font-size: 16px;
  line-height: 32px;
  color: #1e1000;
  font-weight: 400;
  opacity: 0.71;
}
