@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders:opsz,wght@10..72,100..900&family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nabla&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 70px;
  padding-right: 70px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.orange_box {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff9f34;
  color: white;
  font-size: 18px;
  border-radius: 100%;
  font-weight: 700;
  cursor: pointer;
}

.lukan {
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.pages {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.sign {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.login {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.signup {
  width: 118px;
  height: 38px;
  border: 1.2px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.first_div {
  position: relative;
  width: 100%;
  height: 100vh;
  color: white;
  overflow: hidden;
}

.background_video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.power_div {
  max-width: 670px;
  width: 100%;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 100px;
}

.power_h1 {
  font-size: 52px;
  line-height: 72px;
  font-weight: 700;
  margin-bottom: 20px;
}

.power_p {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 30px;
}

.btn {
  background-color: #ff9f34;
  color: white;
  width: 165px;
  height: 56px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}
